.pruebacolor1{
    background-color: red;
}
.pruebacolor2{
    background-color: blue;
}
.pruebacolor3{
    background-color: green;
}
.pruebacolor4{
    background-color: yellow;
}
.pruebacolor5{
    background-color: orange;
}

/* Base de todas las Paginas*/
body{
    width: 100%;
}
label{
    margin-top: 20px;
}
/* --------------------------------------------Buscador--------------------*/
#principal{
    margin-left: 30px;
    margin-right: 30px;

}

.imagennavbar{
    text-align: center;
    display: block;
    margin: auto;
    width: 160px;
    height: 90px;
}
.barranav{
    background-color: #0c63e4;
}
.buscador{
    margin: auto;
}
.ayudamargen{
    margin-top: -10px;
}
.botonbuscar{
    text-align: center;
    display: block;
    margin: auto;
}
#enviar{
    margin-top: 30px;
}
/* --------------------------------------------NAVBAR--------------------*/
.barra{
    background-color: #0c63e4;
    height: 40px;
}
.barra button{
    margin-top: -5px;
}
#menu{
    padding: 0;
}
#menu a{
    text-align: center;
    color: white;
    font-size: 15px;
}
#menu a:hover{
    color: #244D4D;
}
