
#advertencia{
    color: red;
    text-align: justify;
}
.btn{
    width: 100%;
}
.botones{
    margin: auto;
}
#aviso{
    color: #0a53be;
    text-align: justify;
}
#login{
    border: 1px;
    border-color: red;
}
#formulariologin{
    margin-top: 30px;
    padding:16px;
    border-radius:10px;
    background-color: #a8b0cf;
}
#formulariologin input[type="submit"]{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#000;
}
#iniciar{
    text-align: center;
    font-size: 30px;
}
#registrar{
    margin-top: 20px;

}
#botoncancelar a{
    list-style: none;
    padding: 0;
    color: white;
}